PROD=false
PORT=8888
HOST=localhost
DATABASE_URL=postgres://btcpp@127.0.0.1:55432/btcpp_dev?sslmode=disable
HMAC_SECRET=local-dev-only-change-me
MAILER_OFF=true
RECORDINGS_AUTOPUBLISH_ENABLED=false
X_UPLOADER_ENABLED=false
