{{ define "404_conf" }}
<a class="btcpp-notfound-event" href="/{{ .Tag }}">
  <div class="btcpp-notfound-event__date">{{ .DateDesc }}</div>
  <div class="btcpp-notfound-event__image">
    <img src="/static/img/{{ .Tag }}/leading.png" alt="{{ .Desc }}">
  </div>
  <div class="btcpp-notfound-event__title">
    <div class="btcpp-notfound-event__city">{{ .Desc }}</div>
    {{ if .Tagline }}<div class="btcpp-notfound-event__theme">{{ .Tagline }}</div>{{ else if .Venue }}<div class="btcpp-notfound-event__theme">{{ .Venue }}</div>{{ end }}
  </div>
  <div class="btcpp-notfound-event__status">NEXT UP <span class="btcpp-notfound-event__arrow">→</span></div>
</a>
{{ end }}
