<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/site-chrome.css?v=20260910-1">
    <link rel="stylesheet" href="/static/css/btcpp-redesign.css">
    <link rel="stylesheet" href="/static/css/shop.css?v=20260914-1">
    <link rel="stylesheet" href="/static/css/site-navigation.css?v=20260904-1">
  </head>
  <body class="shop-page">
    {{ template "mainnav" . }}
    {{ template "shop_header" . }}
    <main class="shop-listing">
      <div class="shop-listing__head">
        <p class="shop-kicker">§ the rack</p>
        <h1>{{ .CollectionHeading }}</h1>
        <p>{{ .CollectionDescription }}</p>
      </div>
      {{ template "shop_category_nav" . }}
      {{ template "shop_product_grid" .Products }}
    </main>
    {{ template "shop_footer" . }}
  </body>
</html>
