<!DOCTYPE html>
<html lang="en">
  <head>
    {{ block "header" . }} {{ end }}
    {{ block "conf_seo" . }} {{ end }}
  </head>
<body>
{{ block "conf_nav" .Conf }} {{ end }}
<section id="intro" class="lg:mb-20 lg:pb-20">
 <div class="relative">
    <div class="mx-auto max-w-7xl">
      <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
        <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="0,0 90,0 50,100 0,100" />
        </svg>

        <div class="relative px-6 pt-12 pb-12 sm:pt-16 sm:pb-12 lg:px-8 lg:pt-12 lg:pb-24 lg:pr-0">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
            <div class="hidden sm:mb-10 sm:flex">
              <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-500 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                Get involved in the future of bitcoin.<a href="/sponsor" class="whitespace-nowrap font-semibold text-txgreen"><span class="absolute inset-0" aria-hidden="true"></span>Become a Sponsor<span aria-hidden="true">&rarr;</span></a>
              </div>
            </div>
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"><span class="font-bitcoin">bitcoin++</span> is hacking at the beach</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Join us in Florianopolis in 2025 to relax, hack, and build bitcoin in the sun</p>
            <p class="text-lg leading-8 text-gray-600">Florianopolis, Brasil | ACATE Centro de Inovação | Feb 19 - 22, 2025</p>
            <div class="mt-10 flex items-center gap-x-6">
              <a href="#tickets" class="rounded-md bg-txgreen px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-txgreen focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-txgreen">Get Your All Hack Pass</a>
              <!-- <a href="https://forms.gle/tKBKbfoms5VzYhJaA" class="text-sm font-semibold leading-6 text-gray-900" target="_blank">Register to Volunteer<span aria-hidden="true">→</span></a> -->
            </div>
            {{ template "conf_countdown" .Conf }}
          </div>
        </div>
      </div>
    </div>
    <div class="relative z-30 mt-6 sm:mt-8 lg:absolute lg:inset-x-0 lg:bottom-0 lg:mt-0 lg:translate-y-[calc(50%+20px)]">
      {{ template "sponsor_banner" . }}
    </div>
    <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full" src="/static/img/floripa.png" alt="">
    </div>
  </div>
</section>
<section id="about">
  <div class="overflow-hidden bg-white pt-14 pb-8">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="bg-white py-10 sm:py-10">
        <h2 class="text-center mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why Bitcoin hacking?</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">The Bitcoin network never goes down, and neither do its builders. Join us in February down in one of Brazil's nicest beach towns to make friends, build something cool, and get to know the local Brazilian builders community.</p>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4 mt-12">
          <div>
            <time datetime="2021-08" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            Learning
          </div>
          <div>
            <time datetime="2021-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            Coding
          </div>
          <div>
            <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            New Years
          </div>
          <div>
            <time datetime="2022-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            Open Source 
          </div>
        </div>
        <h2 class="mt-20 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl" id="hackathon">Hackathon</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">bitcoin++ historically has been the launchpad for many great projects and new ideas in the bitcoin space. At this bitcoin++ in Floripa, we're proud to offer over 10M sats (and counting) to win.</p>
        <p class="mt-6 mb-20 text-lg leading-8 text-gray-600">Big thank you to our sponsors for putting up prizes for this conference's hackathon</p>
        <a href="https://bitcoinplusplus.devpost.com/" target="_blank" class="rounded-md bg-zinc-900 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-300">Current prizes + entries</a>
        <div class="mt-20 mx-auto grid w-full max-w-xl grid-cols-3 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
          <a href="https://vinteum.org/" target="_blank" class="p-4 sm:p-12">
            <img class="max-h-24 w-full object-contain object-center" src="/static/img/sponsors/vinteum.png" alt="Vinteum" width="150" height="auto">
          </a>
          <a href="https://base58.school" target="_blank" class="p-4 sm:p-12">
            <img class="max-h-24 w-full object-contain object-center" src="/static/img/base58.svg" alt="Base58" width="150" height="auto">
          </a>
          <a href="https://getalby.com/" target="_blank" class="p-4 sm:p-12">
            <img class="max-h-24 w-full object-contain object-center" src="/static/img/sponsors/alby.svg" alt="Alby" width="150" height="auto">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="venue">
<div class="overflow-hidden bg-white pt-14 pb-8">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
      <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conference Venue</h2>
        <p class="mt-6 text-xl leading-8 text-gray-600">Experience Floripa, meet the locals, build something cool.</p>
        <p class="mt-6 text-base leading-7 text-gray-600"><span class="font-bitcoin">bitcoin++</span> is excited to be heading to the beach for our second ever South American event. We'll be hosting the event at ACATE | Centro de Inovação in Saco Grande, Floripa</p>
        <div class="mt-10 flex">
          <a href="#tickets" class="rounded-md bg-txgreen px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-txgreen focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-txgreen">Get Your All Access Pass<span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
      <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
        <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
          <img src="/static/img/floripa/exterior_two.png" alt="" class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover">
        </div>
        <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
          <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
            <img src="/static/img/floripa/interior_one.png" alt="" class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
            <img src="/static/img/floripa/exterior_two.png" alt="" class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
            <img src="/static/img/floripa/auditorio.png" alt="" class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <iframe title="ACATE | Centro de Inovação" aria-label="ACATE | Centro de Inovação" 
    class="mt-12"
	  width="100%"
	  height="500px"
	  frameborder="0" style="border:0"
	  referrerpolicy="no-referrer-when-downgrade"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBs_ErgLEfaa9HBJfMzdm45JPhQgdPAMwc&amp;q=ACATE%20%Saco%20Grande%20Florianopolis&amp;zoom=16"
	  allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="bg-white py-10 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h3 class="mt-2 text-xl tracking-tight text-gray-900 sm:text-xl">Where to Stay</h3>
      <p class="mt-6 text-lg leading-8 text-gray-600">The conference is at the ACATE Centro de Inovação in the Saco Grande neighborhood of Florianopolis. Here’s some suggestions for places to stay that are really close by! @niftynei recommends the Intercity Portofino, as it's within walking distance of the venue.</p>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4 mt-12">
      <div>
        <time datetime="2021-08" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
	        Walkable
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://book.omnibees.com/hotelresults?c=1345&q=9264&hotel_folder=&NRooms=1&CheckIn=18022025&CheckOut=23022025&ad=2&ch=0&ag=&Code=&group_code=&loyalty_code=&lang=en-US&currencyId=16" target="_blank">
	<img src="/static/img/floripa/intercity.webp" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Intercity Portofino</p>
        <p class="mt-1 text-base leading-7 text-gray-600">About $70 a night, walking distance to venue.</p>
	</a>
      </div>

      <div>
        <time datetime="2021-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Airbnb
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://www.airbnb.com/s/Florian%C3%B3polis--Brazil/homes?refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2025-02-01&monthly_length=3&monthly_end_date=2025-05-01&price_filter_input_type=0&channel=EXPLORE&query=Florian%C3%B3polis%2C%20Brazil&place_id=ChIJ1zLGsk45J5URRscEagtVvIE&date_picker_type=calendar&checkin=2025-02-18&checkout=2025-02-23&source=structured_search_input_header&search_type=user_map_move&search_mode=regular_search&price_filter_num_nights=5&ne_lat=-27.53868388716466&ne_lng=-48.48950705152174&sw_lat=-27.56413702401282&sw_lng=-48.50883387252554&zoom=15.362407667294116&zoom_level=15.362407667294116&search_by_map=true" target="_blank">
	<img src="/static/img/floripa/airbnb.png" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Airbnb in Saco Grande</p>
        <p class="mt-1 text-base leading-7 text-gray-600">Apartments and room shares. From $20 a night.</p>
	</a>
      </div>

      <div>
        <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Hostel
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://booking.hqbeds.com.br/seawolflagoa/rooms?arrival=2025-02-18&departure=2025-02-23&currency=USD&adults=2&children=0&room=8301" target="_blank">
	<img src="/static/img/floripa/seawolf.avif" height="350" width="100%"class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Sea Wolf Hostel</p>
        <p class="mt-1 text-base leading-7 text-gray-600">About a 30m drive from the venue, in Lagoa de Conceição. From $20 a night (shared dorm).</p>
	</a>
      </div>

      <div>
        <time datetime="2022-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Boutique $$$
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://hbook.hsystem.com.br/Booking?companyId=618e5996db1a2eb5ad1ad5b7&checkin=18/02/2025&checkout=23/02/2025&adults=2&children=0&language=en" target="_blank">
	<img src="/static/img/floripa/naatooh.png" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl aspect[16/9] sm:aspect[2/1] lg:aspect-[3/2]" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Naatooh Boutique Hotel</p>
        <p class="mt-1 text-base leading-7 text-gray-600">Boutique hotel a 15m drive away. From $450 a night.</p>
	</a>
      </div>
    </div>
  </div>
</div>
</section>
<section id="speakers">
<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Who's Coming</h2>
      <p class="mt-4 text-lg leading-8 text-gray-600"><span class="font-bitcoin">bitcoin++</span>'s first every hack-only event will be brining in builders and teams from around the globe.</p>
    </div>
    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ range .EventSpeakers }}
        {{ block "speaker" . }} {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
</section>
{{ if .Conf.HasAgenda }}
<section id="agenda">
  <div class="bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conference Agenda</h2>
      </div>
      {{ if .Conf.HasEnded }}
        {{ template "agenda_past" . }}
      {{ else }}
        {{ template "agenda_active" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<section id="satellites">
  <div class="bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Satellite Events</h2>
      </div>
      <p class="mt-2 text-lg leading-8 text-gray-600">Other bitcoin events happening in Floripa. Additional ticket/registration may be necessary!</p>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/static/img/floripa_ux_bootcamp" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">Feb 17 + 18, 2025</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Bootcamp</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://www.bitcoinuxbootcamp.xyz/southamerica">
                  <span class="absolute inset-0"></span>
                  Bitcoin UX Bootcamp
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img src="/static/img/sponsors/bitdesign.png" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://bitcoindesignfoundation.org/">
                      <span class="absolute inset-0"></span>
                      Bitcoin Design Foundation
                    </a>
                  </p>
                  <p class="text-gray-600 ">at ACATE</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/static/img/floripa/satoshe.jpeg" alt="Vinteum Karoke Invite" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-02-22" class="text-gray-500">Feb 19, 2025 @ 19hs</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Meetup</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://www.eventbrite.com/e/satoshes-florianopolis-tickets-1237757057679">
                  <span class="absolute inset-0"></span>
                  Satoshe's Meetup
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img src="/static/img/vinteum.png" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://vinteum.org">
                      <span class="absolute inset-0"></span>
                      Satsconf + Casa21
                    </a>
                  </p>
                  <p class="text-gray-600 ">at ACATE</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/static/img/floripa/student_net.png" alt="Bitcoin Studnet Network Meetup" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-02-22" class="text-gray-500">Feb 19, 2025 @ 19hs</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Meetup</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://evento.so/p/evt_UJPqdVjqXFwnqTdz">
                  <span class="absolute inset-0"></span>
                  Student Meetup!
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://linktr.ee/btcstudents">
                      <span class="absolute inset-0"></span>
                      Bitcoin Students Network
                    </a>
                  </p>
                  <p class="text-gray-600 ">at Wooden Beer Tap</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="https://evento.wtf/_next/image?url=https%3A%2F%2Fapi.evento.so%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fcdn%2F%2Feventos%2Fuploaded-covers%2Fcov_Tk3CeC4xFfhKJ1ys.png%3Fwidth%3D700%26height%3D700&w=640&q=75" alt="Vinteum Karoke Invite" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-02-22" class="text-gray-500">Feb 19, 2025 @ 19hs</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Party</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://evento.wtf/p/evt_77n2cHjncoL5Ekf2">
                  <span class="absolute inset-0"></span>
                  Vinteum Karaoke Party
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img src="/static/img/vinteum.png" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://vinteum.org">
                      <span class="absolute inset-0"></span>
                      Vinteum
                    </a>
                  </p>
                  <p class="text-gray-600 ">at Templar Bier</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="https://evento.so/_next/image?url=https%3A%2F%2Fapi.evento.so%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fcdn%2F%2Feventos%2Fuploaded-covers%2Fcov_A8pLi9wcJ7cHDdKq.png%3Fwidth%3D700%26height%3D700&w=640&q=75" alt="Floripa Bitdevs #18" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-02-22" class="text-gray-500">Feb 20, 2025 @ 19hs</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Bitdevs</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://evento.so/p/evt_6uikX8oKYGsAC6Wi">
                  <span class="absolute inset-0"></span>
                  Floripa Bitdevs #18 - btc++ edition
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://floripabitdevs.org/">
                      <span class="absolute inset-0"></span>
                      Floripa Bitdevs
                    </a>
                  </p>
                  <p class="text-gray-600 ">at ACATE, Sala 23</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="https://evento.so/_next/image?url=https%3A%2F%2Fapi.evento.so%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fcdn%2F%2Feventos%2Fdefault-covers%2Ftech%2F18.webp%3Fwidth%3D700%26height%3D700&w=640&q=75" alt="Surf Class at Barra da Lagoa" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-02-22" class="text-gray-500">Feb 20 - 22, 2025 @ 6:30hs</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Surf Class</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://evento.so/p/evt_fBLU84CQfyqAZZ32">
                  <span class="absolute inset-0"></span>
                  Surf Classes
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                      <span class="absolute inset-0"></span>
                      with Surf Instructor Caio Verona
                  </p>
                  <p class="text-gray-600 ">at Restaurante 2 Irmãos, Barra da Lagoa</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/static/img/floripa/roger_chocolate.jpeg" alt="Roger's Chocolate Class" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-02-22" class="text-gray-500">Feb 21, 2025 @ 21hs</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Workshop</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                  <span class="absolute inset-0"></span>
                  Roger9000 and the Bitcoin Chocolate Workshop
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                      <span class="absolute inset-0"></span>
                      Roger9000
                  </p>
                  <p class="text-gray-600 ">at ACATE</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="https://evento.so/_next/image?url=https%3A%2F%2Fapi.evento.so%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fcdn%2F%2Feventos%2Fdefault-covers%2Ftech%2F16.webp%3Fwidth%3D700%26height%3D700&w=640&q=75" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-02-22" class="text-gray-500">Feb 22, 2025 @ 17hs </time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Party</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://evento.so/p/evt_N6HDHww8VM3KcBvQ">
                  <span class="absolute inset-0"></span>
                  bitcoin++ closing party
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img src="/static/img/btcpp.webp" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://btcpp.dev">
                      <span class="absolute inset-0"></span>
                      bitcoin++
                    </a>
                  </p>
                  <p class="text-gray-600 ">at 300 Cosmo Beach Club</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- More posts... -->
      </div>
    </div>
  </div>
</section>
{{ if not .Conf.HasEnded }}
<section id="tickets">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Get Your Hackathon Pass</h2>
      {{ if .Tix }}
        {{ if eq .Tix.Local .MaxTix.Local  }}
           <!-- max ticket reached -->
           {{ if lt .TixLeft 40 }}
              <p class="mt-6 text-xl leading-8 text-gray-600">Only <span class="text-zinc-900 font-bold">{{ .TixLeft }}</span> tickets are left!</p>
           {{ end }}
        {{ else }}
          <p class="mt-6 text-xl leading-8 text-gray-600">Ticket prices go up on <span class="text-buenos">{{ .Tix.Expires.DateDesc }}</span>
          {{ if lt .TixLeft 40 }}
          or after 
            <span class="text-zinc-900 font-bold">{{ .TixLeft }}</span> more tickets are sold!</p>
          {{ else }}
            </p>
          {{ end }}
        {{ end }}
      {{ else }}
      <p class="mt-6 text-lg leading-8 text-gray-600">This event is sold out! 🙈</p>
      {{ end }}
    </div>
  </div>
  {{ if .Tix }}
  <div class="relative isolate bg-white pb-24 px-6 sm:pb-32 lg:px-16">
    <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
      <svg class="mx-auto w-[72.1875rem]" viewBox="0 0 1155 678">
        <path fill="url(#083c110e-60c8-42bb-a9db-29bba74cc569)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
        <defs>
          <linearGradient id="083c110e-60c8-42bb-a9db-29bba74cc569" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
            <stop stop-color="#9089FC" />
            <stop offset="1" stop-color="#FF80B5" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="mx-auto max-w-4xl lg:max-w-7xl">
      <div class="isolate mx-auto mt-16 grid max-w-md grid-cols-1 gap-y-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">

      {{ if gt .Tix.Local 0 }}
        <div class="flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:mt-8 lg:rounded-r-none">
         <div>
          <h3 id="tier-fiat" class="text-base font-semibold leading-7 text-green">Locals Only</h3>
          <p class="mt-4 flex items-baseline gap-x-2">
            {{ if ne .MaxTix.Local .Tix.Local}}
            <span class="line-through text-3xl font-bold tracking-tight text-gray-300">${{ .MaxTix.Local }} {{ .Tix.Currency }}</span>
            {{ end }}
            <span class="text-3xl font-bold tracking-tight text-gray-900">${{ .Tix.Local }} {{ .Tix.Currency }}</span>
            <span class="text-base text-gray-500">/ticket</span>
          </p>
          <p class="mt-6 text-base leading-7 text-gray-600">Are you a Brasileiro? This ticket tier is for you! <span class="font-bold">Proof of Residency will be required at the door.</span></p>
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              All hackathon pass
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Unlimited access to workshops
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Access to all parties + excursions
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
        Swag bag with t-shirts and other goodies
            </li>
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
            Compete for hackathon prizes
            </li>
          </ul>
        </div>
        <a href="/tix/{{ .Tix.ID }}+local+btc" aria-describedby="tier-bitcoin" class="mt-8 block rounded-md py-2.5 px-3.5 font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-buenos sm:mt-10 bg-bitcoin" style="background: #FF8A00">{{ block "btcbutton" . }}{{ end }}</a>
        <a href="/tix/{{ .Tix.ID }}+local+fiat" aria-describedby="tier-fiat" class="mt-2 block rounded-md py-2.5 px-3.5 text-center text-sm font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-buenos sm:mt-4 text-buenos ring-1 ring-inset ring-buenos hover:ring-buenos">Pay with $$</a>
      </div>
      {{ end }}
      <div class="flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:z-10 lg:rounded-b-none">
        <div>
          <h3 id="tier-bitcoin" class="text-base font-semibold leading-7 text-bitcoin">Pay with Bitcoin</h3>
          <p class="mt-4 flex items-baseline gap-x-2">
            {{ if ne .MaxTix.BTC .Tix.BTC }}
            <span class="line-through text-3xl font-bold tracking-tight text-gray-300">${{ .MaxTix.BTC }} {{ .Tix.Currency }}</span>
            {{ end }}
            <span class="text-3xl font-bold tracking-tight text-gray-900">${{ .Tix.BTC }} {{ .Tix.Currency }}</span>
            <span class="text-base text-gray-500">/ticket</span>
          </p>
          <p class="mt-6 text-base leading-7 text-gray-600">Spend bitcoin, save money.</p>
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              All hackathon pass
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Unlimited access to workspace
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Discounted rate for paying in bitcoin
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Access to all parties + excursions
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
            Swag bag with t-shirts and other goodies
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
            Compete for hackathon prizes
            </li>
          </ul>
        </div>
        <a href="/tix/{{ .Tix.ID }}+default+btc" aria-describedby="tier-bitcoin" class="mt-8 block rounded-md py-2.5 px-3.5 font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-buenos sm:mt-10 bg-bitcoin" style="background: #FF8A00">{{ block "btcbutton" . }}{{ end }}</a>
      </div>

      <div class="flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:mt-8 lg:rounded-l-none">
        <div>
            <h3 id="tier-fiat" class="text-base font-semibold leading-7 text-buenos">Pay with Fiat</h3>
            <p class="mt-4 flex items-baseline gap-x-2">
            {{ if ne .MaxTix.USD .Tix.USD}}
              <span class="line-through text-3xl font-bold tracking-tight text-gray-300">${{ .MaxTix.USD }} {{ .Tix.Currency }}</span>
            {{ end }}
              <span class="text-3xl font-bold tracking-tight text-gray-900">${{ .Tix.USD }} {{ .Tix.Currency }}</span>
              <span class="text-base text-gray-500">/ticket</span>
            </p>
            <p class="mt-6 text-base leading-7 text-gray-600">Get your <span class="font-bitcoin">bitcoin++</span> ticket using Stripe checkout</p>
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              All hackathon pass
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Unlimited access to workspace
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Access to all parties + excursions
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Normal rate for paying with fiat
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
        Swag bag with t-shirts and other goodies
            </li>
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-buenos" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
            Compete for hackathon prizes
            </li>
          </ul>
        </div>
        <a href="/tix/{{ .Tix.ID }}+default+fiat" aria-describedby="tier-fiat" class="mt-8 block rounded-md py-2.5 px-3.5 text-center text-sm font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-buenos sm:mt-10 text-buenos ring-1 ring-inset ring-buenos hover:ring-buenos">Pay with $$</a>
      </div>
    {{ end }}
    </div> 
  </div> 
</section>
{{ end }}
{{ template "satellites_section" . }}
{{ template "sponsors_section" . }}
    {{ block "footer" . }} {{ end }}
  </body>
</html>
