<!DOCTYPE html>
<html lang="en">
  <head>
    {{ block "header" . }} {{ end }}
    {{ block "conf_seo" . }} {{ end }}
  </head>
<body>
{{ block "conf_nav" .Conf }} {{ end }}
<section id="intro" class="lg:mb-20 lg:pb-20">
 <div class="relative">
    <div class="mx-auto max-w-7xl">
      <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
        <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="0,0 90,0 50,100 0,100" />
        </svg>

        <div class="relative px-6 pt-12 pb-12 sm:pt-16 sm:pb-12 lg:px-8 lg:pt-12 lg:pb-24 lg:pr-0">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
            <div class="hidden sm:mb-10 sm:flex">
              <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-500 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                Showcase at the frontier of bitcoin development.<a href="/sponsor" target="_blank" class="whitespace-nowrap font-semibold istanbul-color"><span class="absolute inset-0" aria-hidden="true"></span>Become a Sponsor<span aria-hidden="true">&rarr;</span></a>
              </div>
            </div>
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"><span class="font-bitcoin">bitcoin++</span> is scaling</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Join us in Istanbul this September 3 - 5 and peer into the frontier of Bitcoin at scale</p>
            <p class="text-lg leading-8 text-gray-600">Istanbul, Turkiye | Salt Galata | September 3 - 5, 2025</p>
            <div class="mt-10 flex items-center gap-x-6">
              <a href="#tickets" class="rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 istanbul">Get Your All Conf Pass</a>
            </div>
            {{ template "conf_countdown" .Conf }}
          </div>
        </div>
      </div>
    </div>
    <div class="relative z-30 mt-6 sm:mt-8 lg:absolute lg:inset-x-0 lg:bottom-0 lg:mt-0 lg:translate-y-[calc(50%+20px)]">
      {{ template "sponsor_banner" . }}
    </div>
    <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full" src="/static/img/istanbul/leading.png" alt="">
    </div>
  </div>
</section>
<section id="about">
  <div class="overflow-hidden bg-white pt-14 pb-8">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="bg-white py-10 sm:py-10">
        <h2 class="text-center mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why scaling?</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">"Can bitcoin scale?" It's a question we've been asking since the project launched in 2009. With dozens of new layer-twos popping up and more users joining the network, Bitcoin is bigger than it's ever been. How much bigger will it go? In this three day event in Istanbul we'll dive deep into BitVM and the frontier of zero-knowledge proofs, to explore not just where Bitcoin is but where it could be a decade from now.  Join us in Istanbul this coming September for a deep dive into the forefront of scaling peer to peer exchange, both on-chain and off.</p>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4 mt-12">
          <div>
            <time datetime="2025-01" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
            ZKP
          </div>
          <div>
            <time datetime="2021-12" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
            Layer Twos
          </div>
          <div>
            <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
            Censorship Resistant
          </div>
          <div>
            <time datetime="2022-12" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
            Open Source 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="venue">
<div class="overflow-hidden bg-white pt-14 pb-8">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
      <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conference Venue</h2>
        <p class="mt-6 text-xl leading-8 text-gray-600">Gaze at the Sea of Marmara, cross some bridges, and enjoy some Turkish delights</p>
        <p class="mt-6 text-base leading-7 text-gray-600"><span class="font-bitcoin">bitcoin++</span> is happening at the Salt Galata museum in Istanbul, Turkiye to talk the future of Bitcoin at global scale in 2025.</p>
        <div class="mt-10 flex">
          <a href="#tickets" class="rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 istanbul">Get Your All Access Pass<span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
      <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
        <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
          <img src="/static/img/istanbul/entry.jpg" alt="" class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover">
        </div>
        <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
          <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
            <img src="/static/img/istanbul/arches.jpg" alt="" class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
            <img src="/static/img/istanbul/salt-galata.jpg" alt="" class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
            <img src="/static/img/istanbul/flag.jpeg" alt="" class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <iframe title="Istanbul, Turkiye" aria-lable="Istanbul, Turkiye" 
    class="mt-12"
	  width="100%"
	  height="500px"
	  frameborder="0" style="border:0"
	  referrerpolicy="no-referrer-when-downgrade"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBs_ErgLEfaa9HBJfMzdm45JPhQgdPAMwc&amp;q=Salt%20Galata%20Istanbul&amp;zoom=16"
	  allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="bg-white py-10 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h3 class="mt-2 text-xl tracking-tight text-gray-900 sm:text-xl">Where to Stay</h3>
      <p class="mt-6 text-lg leading-8 text-gray-600">The conference is at the Salt Galata museum, a few steps from Galati Tower. Here’s some suggestions for places to stay that are really close by!</p>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4 mt-12">
      <div>
        <time datetime="2021-08" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
	  Historic Hotel
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://www.thebankhotelistanbul.com/en" target="_blank">
	<img src="/static/img/istanbul/bankhotel.jpg" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">The Bank Hotel Istanbul</p>
        <p class="mt-1 text-base leading-7 text-gray-600">Five star hotel located in the old Sumberbank bank building. About €252 a night, next door to venue.</p>
	</a>
      </div>

      <div>
        <time datetime="2021-12" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Small Boutique
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://www.bankerhan.com/" target="_blank">
	<img src="/static/img/istanbul/bankerhan.jpeg" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Bankerhan</p>
        <p class="mt-1 text-base leading-7 text-gray-600">The Bankerhan Hotel is a small boutique, located in the heart of Galata. From €110.</p>
	</a>
      </div>

      <div>
        <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Hostel
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://www.booking.com/hotel/tr/lola-backpacker-39-s-hostel-beyoglu.html?aid=2127489&label=metagha-link-MRUS-hotel-8363954_dev-desktop_los-4_bw-93_dow-Tuesday_defdate-0_room-0_gstadt-2_rateid-public_aud-0_gacid-_mcid-10_ppa-0_clrid-0_ad-0_gstkid-0_checkin-20250902_ppt-&sid=7e73b9316a7c065ca9f00c9b57891583&all_sr_blocks=836395403_349188924_1_0_0%2C836395403_349188924_1_0_0&checkin=2025-09-02&checkout=2025-09-06&dest_id=-755070&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=836395403_349188924_1_0_0%2C836395403_349188924_1_0_0&hpos=1&matching_block_id=836395403_349188924_1_0_0&no_rooms=2&req_adults=2&req_children=0&room1=A&room2=A&sb_price_type=total&sr_order=popularity&sr_pri_blocks=836395403_349188924_1_0_0__5625%2C836395403_349188924_1_0_0__5625&srepoch=1748803265&srpvid=d503829e28970b3e&type=total&ucfs=1&" target="_blank">
	<img src="/static/img/istanbul/lolabackpackers.jpg" height="350" width="100%"class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Lola Backpacker's</p>
        <p class="mt-1 text-base leading-7 text-gray-600">About a 15m walk from the venue, in Galata. From $32 a night (shared dorm).</p>
	</a>
      </div>

      <div>
        <time datetime="2022-12" class="flex items-center text-sm font-semibold leading-6 istanbul-color">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Economical
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://www.zenhotels.com/hotel/turkey/istanbul/mid7651646/the_haze_istanbul/?dates=02.09.2025-06.09.2025&guests=2&hotelId=the_haze_istanbul&price=one&q=1639&sid=e68b8c56-28b0-4262-b5f1-1ca6c00769e6&room=s-58a37b97-793c-5723-b9a9-99140e9d69f1&serp_price=the_haze_istanbul.254.USD.sr-01972ce6-019d-73dd-954e-c6eb50cf65b4" target="_blank">
	<img src="/static/img/istanbul/haze.jpeg" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl aspect[16/9] sm:aspect[2/1] lg:aspect-[3/2]" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Haze Istanbul</p>
        <p class="mt-1 text-base leading-7 text-gray-600">Located in Karaköy’s centre, right beside the harbour and straddling Necatibey and Maliye streets. From $64 a night</p>
	</a>
      </div>
    </div>
  </div>
</div>
</section>
{{ block "mailing" . }} {{ end }}
<section id="hackathon">
<div class="bg-white pt-12 sm:pt-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Get ready to hack at <span class="font-bitcoin">bitcoin++</span> in Istanbul this September</h2>
      <p class="mt-6 text-base/7 text-gray-600">Prizes. 3-hours of effort. Get your team of four-turbo hackers together and compete for the pride and glory of being crowned the grand prize winner of this year's privacy hackathon.</p>
    </div>
    <div class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end">
      <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-50 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start">
        <p class="flex-none text-3xl font-bold tracking-tight text-gray-900">100+</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-gray-900">Hackers competing</p>
          <p class="mt-2 text-base/7 text-gray-600">Heros are made in the trenches of hacking.</p>
        </div>
      </div>
      <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-orange-500 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44">
        <p class="flex-none text-3xl font-bold tracking-tight text-white">5M sats</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-white">of Satoshis in Prizes</p>
          <p class="mt-2 text-base/7 text-gray-50">With a grand total of 5M sats to take home, you'll want to execute your best privacy ideas</p>
        </div>
      </div>
      <div class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-200 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28">
        <p class="flex-none text-3xl font-bold tracking-tight text-gray-900">21,020,103</p>
        <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
          <p class="text-lg font-semibold tracking-tight text-gray-900">Lines of Code to Write</p>
          <p class="mt-2 text-base/7 text-gray-600">Builders build at bitcoin++. Come show us what you can do in 3 hours. Vibe coding strongly encouraged.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto max-w-7xl sm:px-6 sm:pt-24 lg:px-8">
    <div class="relative isolate overflow-hidden bg-orange-500 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16 bg-[url(/static/img/istanbul/bnw.png)] bg-center">
      <h2 class="text-balance text-4xl font-semibold tracking-tight text-white sm:text-5xl">Compete. Present. Win.</h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-gray-50">Find more details about our judges, prize categories, and winning criteria on Devpost</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="https://scale.devpost.com/?preview_token=Ga035XCA%2BWO4MpnDAb9D%2B4drrjfIueO4IVO2u58piAc%3D" target="_blank" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 istanbul">Find out more on Devpost</a>
      </div>
      <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 size-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="#fff" fill-opacity="0.7" />
        <defs>
          <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
            <stop stop-color="#7775D6" />
            <stop offset="1" stop-color="#E935C1" />
          </radialGradient>
        </defs>
      </svg>
    </div>
  </div>
</section>
<section id="speakers">
<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Who's Coming</h2>
      <p class="mt-4 text-lg leading-8 text-gray-600"><span class="font-bitcoin">bitcoin++</span>'s first Istanbul conference will have an all-star lineup of open-source devs, zkp wizards, and protocol experts.</p>
    </div>
    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ range .EventSpeakers }}
        {{ block "speaker" . }} {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
</section>
{{ if .Conf.HasAgenda }}
<section id="agenda">
  <div class="bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conference Agenda</h2>
      </div>
      {{ if .Conf.HasEnded }}
        {{ template "agenda_past" . }}
      {{ else }}
        {{ template "agenda_active" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<section id="satellites">
  <div class="bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Satellite Events</h2>
      </div>
      <p class="mt-2 text-lg leading-8 text-gray-600">Other events happening in Istanbul. Additional ticket/registration may be necessary.</p>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="https://evento.so/_next/image?url=https%3A%2F%2Fapi.evento.so%2Fstorage%2Fv1%2Frender%2Fimage%2Fpublic%2Fcdn%2Feventos%2Fuploaded-covers%2Fcov_ZtuzrVxqM7XkZn1P.jpeg%3Fwidth%3D800%26height%3D800%26resize%3Dcover%26quality%3D90&w=1920&q=75" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2025-09-05" class="text-gray-500">Sept 5, 2025 @ 8pm</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Rooftop Bar</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-left text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a target="_blank" href="https://evento.so/p/evt_dxyn3WZy2jvdunam">
                  <span class="absolute inset-0"></span>
                  happyhour++ scaling edition official after party @ balkon
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img src="/static/img/istanbul/logo_blk.svg" alt="bitcoin++" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900 text-left">
                    <a target="_blank" href="https://btcpp.dev">
                      <span class="absolute inset-0"></span>
                      bitcoin++
                    </a>
                  </p>
                  <p class="text-gray-600 ">hosted by our Master of Ceremonies, Walton</p>
                </div>
              </div>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</section>
{{ if not .Conf.HasEnded }}
<section id="tickets">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Get Your All Conference Pass</h2>
      {{ if .Tix }}
        {{ if eq .Tix.USD .MaxTix.USD }}
           <!-- max ticket reached -->
           {{ if lt .TixLeft 40 }}
              <p class="mt-6 text-xl leading-8 text-gray-600">Only <span class="text-zinc-900 font-bold">{{ .TixLeft }}</span> tickets are left!</p>
           {{ end }}
        {{ else }}
          <p class="mt-6 text-xl leading-8 text-gray-600">Ticket prices go up on <span class="text-buenos">{{ .Tix.Expires.DateDesc }}</span>
          {{ if lt .TixLeft 40 }}
          or after 
            <span class="text-zinc-900 font-bold">{{ .TixLeft }}</span> more tickets are sold!</p>
          {{ else }}
            </p>
          {{ end }}
        {{ end }}
      {{ else }}
      <p class="mt-6 text-lg leading-8 text-gray-600">This event is sold out! 🙈</p>
      {{ end }}
    </div>
  </div>
  {{ if .Tix }}
  <div class="relative isolate bg-white pb-24 px-6 sm:pb-32 lg:px-16">
    <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
      <svg class="mx-auto w-[72.1875rem]" viewBox="0 0 1155 678">
        <path fill="url(#083c110e-60c8-42bb-a9db-29bba74cc569)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
        <defs>
          <linearGradient id="083c110e-60c8-42bb-a9db-29bba74cc569" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
            <stop stop-color="#9089FC" />
            <stop offset="1" stop-color="#FF80B5" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="mx-auto max-w-4xl lg:max-w-7xl">
    <div class="isolate mx-auto mt-16 grid max-w-md grid-cols-1 gap-y-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
    <div class="flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:z-10 lg:rounded-b-none">
      <div>
        <h3 id="tier-bitcoin" class="text-base font-semibold leading-7 text-bitcoin">Pay with Bitcoin</h3>
        <p class="mt-4 flex items-baseline gap-x-2">
          {{ if ne .MaxTix.BTC .Tix.BTC }}
          <span class="line-through text-3xl font-bold tracking-tight text-gray-300">{{ .Tix.Symbol }}{{ .MaxTix.BTC }} {{ .Tix.Currency }}</span>
          {{ end }}
          <span class="text-3xl font-bold tracking-tight text-gray-900">{{ .Tix.Symbol }}{{ .Tix.BTC }} {{ .Tix.Currency }}</span>
          <span class="text-base text-gray-500">/ticket</span>
        </p>
        <p class="mt-6 text-base leading-7 text-gray-600">Spend bitcoin, save money.</p>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            All conference pass
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Unlimited access to workshops
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ticket includes lunch + refreshments 
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="bitcoin" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Discounted rate for paying in bitcoin
          </li>

          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
             Swag bag with t-shirts and other goodies
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Compete for hackathon prizes
          </li>
        </ul>
      </div>
      <a href="/tix/{{ .Tix.ID }}+default+btc" aria-describedby="tier-bitcoin" class="mt-8 block rounded-md py-2.5 px-3.5 font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2" style="background: #FF8A00; outline-color: #FF8A00;">{{ block "btcbutton" . }} {{ end }}</a>
    </div>

    <div class="flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:mt-8 lg:rounded-l-none">
      <div>
          <h3 id="tier-fiat" class="text-base font-semibold leading-7 istanbul-color">Pay with Fiat</h3>
          <p class="mt-4 flex items-baseline gap-x-2">
            {{ if ne .MaxTix.USD .Tix.USD}}
              <span class="line-through text-3xl font-bold tracking-tight text-gray-300">{{ .Tix.Symbol }}{{ .MaxTix.USD }} {{ .Tix.Currency }}</span>
            {{ end }}
            <span class="text-3xl font-bold tracking-tight text-gray-900">{{ .Tix.Symbol }}{{ .Tix.USD }} {{ .Tix.Currency }}</span>
            <span class="text-base text-gray-500">/ticket</span>
          </p>
          <p class="mt-6 text-base leading-7 text-gray-600">Get your <span class="font-bitcoin">bitcoin++</span> ticket using Stripe checkout</p>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            All conference pass
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Unlimited access to workshops
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ticket includes lunch + refreshments 
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Normal rate for paying with fiat
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Swag bag with t-shirts and other goodies
          </li>
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none istanbul-color" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
          Compete for hackathon prizes
          </li>
        </ul>
        </div>
        <a href="/tix/{{ .Tix.ID }}+default+fiat" aria-describedby="tier-fiat" class="mt-8 block rounded-md py-2.5 px-3.5 text-center text-sm font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 sm:mt-10 ring-1 ring-inset istanbul">Checkout</a>
      </div>
    {{ end }}
    </div>
</section>
{{ end }}
{{ template "satellites_section" . }}
{{ template "sponsors_section" . }}
    {{ block "footer" . }} {{ end }}
  </body>
</html>
